body {
  background-color:#151515
}

h1
{
  color:#31B404;
  text-align: center
}

p
  {
    color: red;
    text-align: center
}

.ee
{
  color:#0072ce;
  text-align: center;
  font-size: 50px;
  font-family:"Verdana";
  font-weight: bold
}

.destacado{
  font-family:"Arial";
  font-style:"italic";
  font-size: 30px;
  text-align: center;
  color: green
}